<section class="hero">

  <div class="hero-inner">
    <div class="hero-left">
      <img src="/assets/images/arsi-logo.png" alt="logo" class="logo">
    </div>
    <div class="hero-right">
      <h2>Artist & Graphic Designer</h2>
      <p class="lead">I am a 23-year-old illustrator and graphic
         design student from Tunisia, fluent in both Arabic and 
         English. I aim to specialize in brand design, including 
         logo creation, visual identity development, and cohesive 
         branding materials for both print and digital use. My work
          focuses on combining elegance, clarity, and functionality
           to create designs that leave a lasting impression
</p>
    </div>
  </div>
</section>